<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color: #333; font-size: 2em; margin-top: 0;">Weather Data API</h1>
<p style="color: #666; font-size: 1em; margin-bottom: 1em;">
  <i>URL format:</i> http://127.0.0.1:5000/api/v1/station/date
</p>
<p style="color: #666; font-size: 1em; margin-bottom: 1em;">
  <i>URL example:</i> http://127.0.0.1:5000/api/v1/10/1988-10-25
</p>
<p  style="color: #000; font-weight: bold; margin-top: 1em;">
{{stations|safe}}
</p>

</body>
</html>
